<div class="jumbotron mt-4 col-md-8 mx-auto">
    <h1 class="display-4">Bienvenido a PostAll</h1>
    <p class="lead">Comenzamos?</p>
    <hr class="my-4">
    <p>Esta plataforma web es una red social que permite interactuar con 
        otros usuarios de todas las partes del mundo, relajate e inicia una 
        aventura en esta plataforma. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam commodi praesentium fugit quae suscipit reiciendis dignissimos libero earum eveniet. Voluptas ea fuga temporibus nobis 
        consequatur doloremque illo voluptatem aliquam accusantium? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias in voluptatem quaerat a nisi voluptatum 
        repudiandae consequatur labore non dolores?
    </p>
    {{#unless user}}
    <a href="/users/login" class="btn btn-primary btn-lg">Log in</a>
    {{/unless }}
</div>